*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: red;
}

.container{
  background-color: #ffc0cb;
  width: 800px;
  margin: 0 auto;
  margin-top: 500px;
  display: flex;
  padding-left: 0;
  justify-content: center;
  
}

a{
  color:  red;
}

li{
  list-style: none;
  padding: 15px;
  
}


