*{
  box-sizing: border-box;
}

body{
  background-color: #eeeeee;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
}

.div{
  border: 3px dotted black;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  margin: 300px auto;
}



article{
  border: 5px solid pink;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  
}


.contain-section-1{
  order: 3;
}

.contain-section-2{
  order: 2;
}

.contain-section-3{
  order: 1;
}

h1{
  font-size: 1.8em;
  font-weight: 900;
}

p{
  margin: 0;
} 


/* section{
  display: flex;
}

.container-1{
  align-self: flex-start;
}

.container-2{
  align-self: stretch;
  
}

.contain-section-3{
  align-self: flex-end;
}


h1{
  font-size: 1.8em;
  font-weight: 900;
}

p{
  margin: 0;
} */
